<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53b82bcf-3e5c-45b8-b37f-0a7b38fc3441" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="e3523443-8cad-41aa-a139-4a0b56082971">contentProperties</Composition>
      <Composition Key="4497b9ed-f28c-4cb1-a7ea-96f900913e87">footerProperties</Composition>
      <Composition Key="deb4758a-f698-49a3-b257-d784dccf506a">headerProperties</Composition>
      <Composition Key="3bc538f4-d72a-4b9f-b872-47d2ef46068e">siteNavigation</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5eb719fc-2ce3-4c2b-9319-4620e65e8c20">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="80999451-aff1-47a9-97cc-d9ed7dfb8ca4" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="b2c1972f-9375-4977-b81a-dde5ba86bf9c" SortOrder="1">contactUs</ContentType>
    <ContentType Key="64887407-92b6-4b42-ab5b-08e2415aec62" SortOrder="2">services</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>