<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64a1a4d9-e212-4196-9267-243276cec19c" Alias="About Fourth Image - Media Picker" Level="1">
  <Info>
    <Name>About Fourth Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>