<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e814d6c-f425-4113-9a7a-b99e46436d7d" Alias="About Page - About First Image - Media Picker" Level="1">
  <Info>
    <Name>About Page - About First Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>