<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a60fe48-d7bd-4be4-8aea-02c24baaf3ff" Alias="About Page - Media Picker" Level="1">
  <Info>
    <Name>About Page - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>