<?xml version="1.0" encoding="utf-8"?>
<DataType Key="544cdf52-25c5-4e4f-a208-7a758d930d6a" Alias="About Fourth Image - Media Picker (1)" Level="1">
  <Info>
    <Name>About Fourth Image - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>