<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4dad4d0-baa8-41ea-9c14-b65d91642e9b" Alias="First Content Image - Media Picker" Level="1">
  <Info>
    <Name>First Content Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>