<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6dad4a5-3b6e-4f7a-bd60-98891fa23933" Alias="Second Content Image - Media Picker" Level="1">
  <Info>
    <Name>Second Content Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>