<?xml version="1.0" encoding="utf-8"?>
<DataType Key="038f883d-82c6-4b50-b23a-eb6e6eb105c2" Alias="Single Image - Media Picker" Level="1">
  <Info>
    <Name>Single Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>