<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06b306e4-2112-48db-9b81-efc248db0fb0" Alias="Third Content Image - Media Picker" Level="1">
  <Info>
    <Name>Third Content Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>