<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5014d23-8309-41d2-8ba6-e7c1f27b6525" Alias="01 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-14T12:52:35</CreateDate>
    <NodeName Default="01 (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/evgbd3ij/01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>