<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd6a768b-d292-46e5-b6a3-ff94e12c068d" Alias="02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-14T08:25:58</CreateDate>
    <NodeName Default="02" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rv1gvpms/02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>