<?xml version="1.0" encoding="utf-8"?>
<Media Key="1916d9d2-4a35-406a-85d1-e75a13ca431e" Alias="1 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-14T13:06:40</CreateDate>
    <NodeName Default="1 (1)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0tmbmgjv/1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>