<?xml version="1.0" encoding="utf-8"?>
<Media Key="718d84f2-7c93-4f75-913d-13a19e8efe41" Alias="3 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-14T13:17:38</CreateDate>
    <NodeName Default="3 (1)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4sci02mt/3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>