<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f72d531-d671-4d58-be24-19e817237d8e" Alias="About 01 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About011</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-14T09:02:32</CreateDate>
    <NodeName Default="About 01 (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g5khfh1r/about-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>