<?xml version="1.0" encoding="utf-8"?>
<Media Key="e02d928f-d122-4b85-b77d-4b83a0c0a650" Alias="Swag" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Swag</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-12T21:01:18</CreateDate>
    <NodeName Default="Swag" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rgjc1ybc/swag.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>