<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a86784e-4f38-4530-9442-9e813d20713d" Alias="About" Level="2">
  <Info>
    <Parent Key="d772dc7f-8309-4e8b-91df-32551b268014">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2022-11-13T22:24:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="076f0846-60e1-4df2-b7bc-67e69c612098">AboutPage</Template>
  </Info>
  <Properties>
    <aboutFirstImage>
      <Value><![CDATA[[
  {
    "key": "5ad28dcc-ebce-4d49-8f71-0d71f8c6500b",
    "mediaKey": "1916d9d2-4a35-406a-85d1-e75a13ca431e"
  }
]]]></Value>
    </aboutFirstImage>
    <aboutForthTitle>
      <Value><![CDATA[Phase Two Expansion]]></Value>
    </aboutForthTitle>
    <aboutForthYear>
      <Value><![CDATA[July 2020]]></Value>
    </aboutForthYear>
    <aboutFourthImage>
      <Value><![CDATA[[
  {
    "key": "09e8fea4-dde6-49f9-9afd-d0f1d90ad79e",
    "mediaKey": "be4e11c9-aaa0-41e9-bfb1-3ac6ead7e16b"
  }
]]]></Value>
    </aboutFourthImage>
    <aboutFourthParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!]]></Value>
    </aboutFourthParagraph>
    <aboutParagraphContent>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus quiquibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!]]></Value>
    </aboutParagraphContent>
    <aboutSecondImage>
      <Value><![CDATA[[
  {
    "key": "69fa463e-c32d-4aa7-8a9f-20f29aaf424e",
    "mediaKey": "a6a4e149-20a5-4970-ac92-42216f5f7bed"
  }
]]]></Value>
    </aboutSecondImage>
    <aboutSecondParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!]]></Value>
    </aboutSecondParagraph>
    <aboutSecondTitle>
      <Value><![CDATA[An Agency is Born]]></Value>
    </aboutSecondTitle>
    <aboutSecondYearContent>
      <Value><![CDATA[March 2011]]></Value>
    </aboutSecondYearContent>
    <aboutText>
      <Value><![CDATA[Be Part Of Our Story!]]></Value>
    </aboutText>
    <aboutThirdImage>
      <Value><![CDATA[[
  {
    "key": "5792dd0e-a637-413b-ab5a-fcd3e3ca6b87",
    "mediaKey": "718d84f2-7c93-4f75-913d-13a19e8efe41"
  }
]]]></Value>
    </aboutThirdImage>
    <aboutThirdParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!]]></Value>
    </aboutThirdParagraph>
    <aboutThirdTitle>
      <Value><![CDATA[Transition to Full Service]]></Value>
    </aboutThirdTitle>
    <aboutThirdYear>
      <Value><![CDATA[December 2015]]></Value>
    </aboutThirdYear>
    <aboutTitleContent>
      <Value><![CDATA[Our Humble Beginnings]]></Value>
    </aboutTitleContent>
    <aboutYearContent>
      <Value><![CDATA[2009-2011]]></Value>
    </aboutYearContent>
    <headerSubtitle>
      <Value><![CDATA[How we started?]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[About Us]]></Value>
    </headerTitle>
  </Properties>
</Content>