<?xml version="1.0" encoding="utf-8"?>
<Content Key="0295ef9d-17f0-47c8-850f-485f7a33dfc8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d772dc7f-8309-4e8b-91df-32551b268014">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2022-11-13T22:39:17</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02beb43b-c635-4adc-bd0e-358a4a16e6ec">ContactUs</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="15f254c4-5d70-46cd-a894-99db85187da0" FormTheme="bootstrap3-horizontal" ExcludeScripts="0" />
<p> </p>]]></Value>
    </contactForm>
    <contactText>
      <Value><![CDATA[Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!]]></Value>
    </contactText>
    <headerSubtitle>
      <Value><![CDATA[Need to know more about us?]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[Let's Talk]]></Value>
    </headerTitle>
  </Properties>
</Content>