<?xml version="1.0" encoding="utf-8"?>
<Content Key="d772dc7f-8309-4e8b-91df-32551b268014" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-11-12T20:38:26</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5eb719fc-2ce3-4c2b-9319-4620e65e8c20">HomePage</Template>
  </Info>
  <Properties>
    <firstContentImage>
      <Value><![CDATA[[
  {
    "key": "080f44b9-cac3-4fce-8f27-0b189d1e55c7",
    "mediaKey": "f5014d23-8309-41d2-8ba6-e7c1f27b6525"
  }
]]]></Value>
    </firstContentImage>
    <firstContentParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.]]></Value>
    </firstContentParagraph>
    <firstContentTitle>
      <Value><![CDATA[For those about to rock...]]></Value>
    </firstContentTitle>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerSubtitle>
      <Value><![CDATA[Will Rock Your Socks Off]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[ABC Music Studio]]></Value>
    </headerTitle>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/d772dc7f83094e8b91df32551b268014"
  },
  {
    "name": "About",
    "udi": "umb://document/9a86784e4f38453094429e813d20713d"
  },
  {
    "name": "Services",
    "udi": "umb://document/48aa628b61ff4963a33fe83fe60f2fb5"
  },
  {
    "name": "Contact",
    "udi": "umb://document/0295ef9d17f047c8850f485f7a33dfc8"
  }
]]]></Value>
    </mainNavigation>
    <secondContentImage>
      <Value><![CDATA[[
  {
    "key": "88fa832d-3002-4c00-81fd-c83411e01d1b",
    "mediaKey": "6381af93-2eaa-46f2-a102-18916fcfebee"
  }
]]]></Value>
    </secondContentImage>
    <secondContentParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.]]></Value>
    </secondContentParagraph>
    <secondContentTitle>
      <Value><![CDATA[We salute you!]]></Value>
    </secondContentTitle>
    <thirdContentImage>
      <Value><![CDATA[[
  {
    "key": "1ade97a0-36a2-4cda-b443-345433d19702",
    "mediaKey": "b922e07e-bb2a-4ae1-8495-084006953f20"
  }
]]]></Value>
    </thirdContentImage>
    <thirdContentParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.]]></Value>
    </thirdContentParagraph>
    <thirdContentTitle>
      <Value><![CDATA[Let there be rock!]]></Value>
    </thirdContentTitle>
  </Properties>
</Content>