<?xml version="1.0" encoding="utf-8"?>
<Content Key="48aa628b-61ff-4963-a33f-e83fe60f2fb5" Alias="Services" Level="2">
  <Info>
    <Parent Key="d772dc7f-8309-4e8b-91df-32551b268014">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2022-11-13T23:08:13</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="413886bd-8f23-460e-8e29-e77d6d9fef41">Services</Template>
  </Info>
  <Properties>
    <firstContentImage>
      <Value><![CDATA[[
  {
    "key": "e10373db-684f-499e-9450-4680037349fc",
    "mediaKey": "9f72d531-d671-4d58-be24-19e817237d8e"
  }
]]]></Value>
    </firstContentImage>
    <firstContentParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.]]></Value>
    </firstContentParagraph>
    <firstContentTitle>
      <Value><![CDATA[Studio production for artists & bands]]></Value>
    </firstContentTitle>
    <headerSubtitle>
      <Value><![CDATA[You need something?]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[Services That We Offer]]></Value>
    </headerTitle>
    <secondContentImage>
      <Value><![CDATA[[
  {
    "key": "590b32c1-4873-4794-8b1e-ba834cbbc732",
    "mediaKey": "c390f61d-ed49-4b43-b777-876a38c656e3"
  }
]]]></Value>
    </secondContentImage>
    <secondContentParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.]]></Value>
    </secondContentParagraph>
    <secondContentTitle>
      <Value><![CDATA[ Songs To Independent Spotify Playlists]]></Value>
    </secondContentTitle>
    <thirdContentImage>
      <Value><![CDATA[[
  {
    "key": "1e2a474a-c656-4e89-ac91-f27dea104ae0",
    "mediaKey": "e2e49b7f-0c0a-4ed8-a755-c78adca36801"
  }
]]]></Value>
    </thirdContentImage>
    <thirdContentParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.]]></Value>
    </thirdContentParagraph>
    <thirdContentTitle>
      <Value><![CDATA[Film & TV Placements]]></Value>
    </thirdContentTitle>
  </Properties>
</Content>